@using EntityLayer.Concrete
@model IEnumerable<ClassGroupBrand>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Marka Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Marka</th>
                    <th>Progress</th>
                    <th style="width: 40px">Adet</th>
                </tr>
            </thead>
            <tbody>
                @{int sirano = 0;}
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@{sirano++;} @sirano</td>
                        <td>@x.Brand</td>
                        <td>
                            <div class="progress progress-xs">
                                @{var o = (x.Total * 100) / ViewBag.oran; }

                                @if (o <= 25)
                                {
                                    <div class="progress-bar progress-bar-danger" style="width: @o%"></div>
                                }
                                @if (o <= 50 && o > 25)
                                {
                                    <div class="progress-bar bg-warning" style="width: @o%"></div>
                                }
                                @if (o > 50)
                                {
                                    <div class="progress-bar bg-success" style="width: @o%"></div>
                                }
                            </div>
                        </td>
                        <td><span class="badge bg-danger">@x.Total</span></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
