@using EntityLayer.Concrete
@model Department
@{
    ViewBag.Title = "DepartmentAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Departman Sayfası</h2>
<br />

<form class="form-group" method="post">
    <div class="form-group">
        @Html.Label("Departman Adı")
        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })

        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
</form>

